/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

.head-of-app {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.head-of-app__image {
  width: 100%;
}

.head-of-app__about {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .head-of-app { 
    text-align: center;
  }

}

.all-tasks {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.inpution-new-task__field {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.inpution-new-task {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
}

.task,
.task-list__label {
  list-style: none;
}

.task__checkbox,
.task__edit-field,
.inpution-new-task__field,
.task__edit-btn,
.inpution-new-task__btn,
.task__delete-btn {
  outline: none;
}

.task__edit-btn,
.inpution-new-task__btn,
.task__delete-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.task__edit-btn:hover,
.inpution-new-task__btn:hover,
.task__delete-btn:hover {
  color: #3a3a3a;
}

/* Heading */
.task-list__label,
.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.inpution-new-task__field,
.task__edit-field {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}

.inpution-new-task__field:focus,
.task__edit-field:focus {
  color: #333;
}

/* New Task */
.new-task > .task-list__label {
  display: block;
  margin: 0 0 20px;
}

.inpution-new-task__field {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__edit-field {
  width: 226px;
}

.delete-btn__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-btn__image:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks > .task > .task__task-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task > .task__edit-field {
  display: none;
}

.task_edit-mode > .task__edit-field {
  display: inline-block;
  width: 224px;
}

.task_edit-mode > .task__task-name {
  display: none;
}